<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Restock Barang</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar(active='gudang')}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Restock Gudang</h2>
    </div>
    
    <div class="row justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <div>
                    <p class="card-text m-0"><b>Nama Gudang:</b></p>
                    <p class="card-text" th:text="${gudang.nama}"></p>
                    <p class="card-text m-0"><b>Alamat Gudang:</b></p>
                    <p class="card-text" th:text="${gudang.alamatGudang}"></p>

                    <form th:action="@{/gudang/{idGudang}/restock-barang(idGudang=${idGudang})}" th:object="${gudangBarangDTO}" method="POST">
                        <th class="d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit" name="addRow" style="text-align:right">Tambah Barang</button>
                        </th>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Barang</th>
                                    <th>Kuantitas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="gudangBarang, iterationStatus : *{listGudangBarang}">
                                    <td th:text="${iterationStatus.index + 1}"></td>
                                    <td>
                                        <select th:field="*{listGudangBarang[__${iterationStatus.index}__].barang}" class="form-control">
                                            <div th:each="barang : ${listBarangExist}">
                                                <option th:value="${barang.sku}" th:text="${barang.merk}"></option>
                                            </div>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" th:field="*{listGudangBarang[__${iterationStatus.index}__].stok}" placeholder="Stok Barang"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <a type="button" class="btn btn-danger btn-md" href="/gudang">Batal</a>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center m-3">
        
    </div>
    </div>
</body>

</html>