<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>View All Barang</title>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  
  <script>
    $(document).ready(function() {
        $('#barangTable').DataTable({
            "ordering": false,
            "lengthMenu": [],
            "searching": false,
            "paging": false,
            "info": false 
        });
    });
  </script>

</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar(active='barang')}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Daftar Barang</h2>
    </div>

    <td>
      <a type="button" class="btn btn-md btn-primary" th:href="@{/barang/tambah}" style="align-items: center; justify-content: center; margin-bottom: 20px;">
        + Tambah Barang
      </a>
    </td>
    
    <table id="barangTable" class="table dataTable">
      <thead>
          <tr>
              <th>#</th>
              <th>SKU</th>
              <th>Merk</th>
              <th>Stok</th>
              <th>Harga</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr th:each="barang, iterationStatus : ${listBarang}">
          <td th:text="${iterationStatus.index + 1}"></td>
          <td th:text="${barang.sku}"></td>
          <td th:text="${barang.merk}"></td>
          <td th:text="${barangService.getTotalStok(barang)}"></td>
          <td th:text="Rp+${barang.hargaBarang}"></td>
          <td>
            <a type="button" class="btn btn-md btn-secondary" th:href="@{/barang/{idBarang}(idBarang=${barang.sku})}">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>