<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>View Permintaan Pengiriman</title>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  
  <script>
    $(document).ready(function() {
        $('#barangPesanan').DataTable({
            "ordering": false,
            "lengthMenu": [],
            "searching": false,
            "paging": false,
            "info": false
        });
    });
  </script>

</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar(active='permintaanPengiriman')}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Detail Permintaan Pengiriman</h2>
    </div>
    
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <div>
                    <p class="card-text m-0"><b>No. Permintaan Pengiriman:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.nomorPengiriman}"></p>
                    <p class="card-text m-0"><b>Waktu Permintaan:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.waktuPermintaanString}"></p>
                    <p class="card-text m-0"><b>Karyawan Bertugas:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.karyawan.nama}"></p>
                    <p class="card-text m-0"><b>Waktu Pengiriman:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.tanggalPengirimanString}"></p>
                    <p class="card-text m-0"><b>Nama Penerima:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.namaPenerima}"></p>
                    <p class="card-text m-0"><b>Alamat Penerima:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.alamatPenerima}"></p>
                    <p class="card-text m-0"><b>Jenis Layanan:</b></p>
                    <p class="card-text" th:text="${type}"></p>
                    <p class="card-text m-0"><b>Biaya Pengiriman:</b></p>
                    <p class="card-text" th:text="${permintaanPengiriman.biayaPengiriman}"></p>


                    <p class="card-text m-0"><b>Daftar Barang Dipesan:</b></p>

                    <table id="barangPesanan" class="table dataTable">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>SKU</th>
                              <th>Merk</th>
                              <th>Kuantitas Pesanan</th>
                              <th>Total Harga</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr th:each="permintaanPengirimanBarang, iterationStatus : ${permintaanPengirimanBarang}">
                          <td th:text="${iterationStatus.index + 1}"></td>
                          <td>
                            <a th:href="@{/barang/{idBarang}(idBarang=${permintaanPengirimanBarang.barang.sku})}" th:text="${permintaanPengirimanBarang.barang.sku}"></a>
                          </td>
                          <td th:text="${permintaanPengirimanBarang.barang.merk}"></td>
                          <td th:text="${permintaanPengirimanBarang.kuantitasPesanan}"></td>
                          <td th:text="Rp+${barangService.getTotalHarga(permintaanPengirimanBarang.barang.sku, permintaanPengirimanBarang.kuantitasPesanan)}"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center m-3">
        <a type="button" class="btn btn-secondary btn-md" href="/permintaan-pengiriman">Kembali</a>
        <a type="button" class="btn btn-danger btn-md" th:if="${canCancel} == true" th:href="@{/permintaan-pengiriman/{idPermintaanPengiriman}/cancel(idPermintaanPengiriman=${permintaanPengiriman.idPermintaanPengiriman})}">Cancel Permintaan</a>
    </div>
    </div>
</body>

</html>